<div class="center jumbotron">
	<h1>Study later - This is a APP for save link for future reading</h1>
	<h2>Find me in app/views/pages/home.html.erb</h2>

	<%= link_to "Sign up now!", root_path, class: "btn btn-lg btn-primary" %>
</div>
