<p>
  <strong>Title:</strong>
  <%= link.title %>
  <strong>Link:</strong>
  <%= link.link %>
  <strong>Category:</strong>

  <%= link.category %>
  <%= link_to 'Readed ', [link.user, link],
               method: :delete,
               data: { confirm: 'Are you sure already read?' } %>
</p>